#product{

	width: 100%;

	margin: auto;

	height: 0px;

	background: #000;

	box-shadow: 10px 10px 3px #D8D8D8;

	display: block;
}


#sub-product{

	width: 100%;

	margin: auto;

	height: 0px;

	background: #000;

	box-shadow: 10px 10px 3px #D8D8D8;

	transition: height .4s;

	display: none;
}

#product-img {
    width: 200px;
    height: 200px;
}